<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">

//- <base href="http://54school.ru/">
<link href="css/normalize.css" rel="stylesheet">
<link href="css/main-style.css" rel="stylesheet">
<link href="css/head.css" rel="stylesheet">
<link href="scss/style.min.css" rel="stylesheet">
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div class="above">
<div class="low-eyes-panel" style="font-size: 16px; line-height: 1; letter-spacing: normal; font-family: 'Times New Roman', sans-serif;">
<div class="flex-colum vertical-img">
<a class="reset" href="#"></a>
</div>
<div class="font-size-tools flex-colum">
<div>Размер шрифта</div>
<div class="SecondLevel">
<a href="#" class="LowFontSize SecondLevel__img" title="Мелкий шрифт"></a>
<a href="#" class="MiddleFontSize  SecondLevel__img" title="Средний шрифт"></a>
<a href="#" class="LargeFontSize  SecondLevel__img" title="Крупный шрифт"></a>
</div>
</div>
<div class="font-family-tools flex-colum">
<div>Шрифт</div>
<div class="SecondLevel">
<a href="#" class="Arial-bg Arial SecondLevel__img" title="Arial"></a>
<a href="#" class="TimesNewRoman-bg TimesNewRoman SecondLevel__img" title="Times New Roman"></a>
</div>
</div>
<div class="letter-spacing-tools flex-colum">
<div>Межсимвольный интервал</div>
<div class="SecondLevel">
<a href="#" class="letter-spacing-default SecondLevel__img" title="Стандартный"></a>
<a href="#" class="letter-spacing-middle SecondLevel__img" title="Средний"></a>
<a href="#" class="letter-spacing-large SecondLevel__img" title="Большой"></a>
</div>
</div>
<div class="line-height-tools flex-colum">
<div>Межстрочный интервал</div>
<div class="SecondLevel">
<a href="#" class="line-height-default SecondLevel__img" title="Уменьшенный"></a>
<a href="#" class="line-height-middle SecondLevel__img" title="Стандартный"></a>
<a href="#" class="line-height-large SecondLevel__img" title="Увеличенный"></a>
</div>
</div>
<div class="color-scheme flex-colum">
<div>Цветовая схема</div>
<div class="SecondLevel">
<a href="#" class="BlackAndWhite-bg BlackAndWhite SecondLevel__img" title="Черным по белому"></a>
<a href="#" class="WhiteAndBlack-bg SecondLevel__img" title="Белым по черному"></a>
<a href="#" class="DarkBlue-bg DarkBlue SecondLevel__img" title="Темно-синим по голубому"></a>
</div>
</div>
<div class="color-scheme flex-colum">
<div>Изображения</div>
<div class="SecondLevel">
<a href="#" class="FullColorImages  SecondLevel__img" title="Цветные изображения"></a>
<a href="#" class="GreyScaleImages  SecondLevel__img" title="Черно-белые изображения"></a>
<a href="#" class="DisableImages  SecondLevel__img" title="Спрятать изображения"></a>
</div>
</div>
</div>

<div class="panel-before"></div>
<div class="panel"><a class="active-low-eyes" href="http://54school.ru">Версия для слабовидящих</a>

</div>
<div class="panel-after"></div>

</div>

<div class="main-body">
<div id=stat>

</div>
<table style="min-width:1280px;" align=center id=layout1 height="" cellspacing=0 cellpadding=0 width="100%" border=0>
<tbody>
<tr>
<td id=lay_f1 width=100% valign=top>
        include header.html
</td>
</tr>
</tbody>
</table>
<center>
<table style="min-width: 1280px;" id=layout2 style="" cellpadding=0 cellspacing=0 border=0 width=83% height=auto align=center>
<tr>
<td><table cellpadding=0 cellspacing=0 border=0 width=auto height=auto align=center>
<tr>
<td style="border-radius:0 25px 25px 0; background-color:rgba(0,190,0,0.05);" id=lay_f2 height=auto valign=top width=210px>
 include left-block.html
</td>
<td style="" height=auto id=lay_body width=auto valign=top>
  include html/body.html
</td><td id=lay_f4 valign=top height=100% width=210px align=right>
   include right-block.html
</td>
</tr>

</td>
</tr>

</table>

<tr>
<td id=lay_f3 valign=top colspan=2>
    include footer.html
</td>

</tr>
</table>
</tbody>

</td>
</tr>
</table>
</center>
</div>

</body>
